
.friend-list{

        list-style: none;
        padding: 0;
        margin: 0;
        gap: 20px;
        display: flex;
        flex-direction: column;
}
.friend-list .item{
    display: flex;
    background-color: white;
    color: #313131 ;
    padding: 6px 0 6px 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 200px;
    
}
.friend-list .item img{
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;

}
.friend-list .status{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-top: auto;
    margin-bottom: auto;
}